.slider {
  width: 100%;
  height: 40vh;
  align-items: center;
  object-fit: fill;
  margin-bottom: 20px;
}

.top {
  display: flex;
  text-align: left;
}

.top i {
  font-size: 25px;
  margin-right: 5px;
  margin-top: 2px;
  color: rgb(241, 231, 231);
}

h5 {
  color: rgb(241, 231, 231);
}

.mid {
  color: white;
  display: flex;
}

.mid h5 {
  color: white;
  text-transform: capitalize;
}

.details {
  padding-top: 30px;
  padding-left: 10px;
  display: block;
}

.last {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.icon img {
  width: 150px;
  height: 150px;
}
