.citylist-container{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.search-bar-light{
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #6c9cc4;
  border-radius: 25px;
  font-size: 16px;
  background-color: #e0eaf4;
  color: #6c9cc4;
}

.search-bar-dark{
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: black;
  color: white;
}

.table-container{
  width: 100%;
  height: 65vh;
  /* overflow-y: auto; */
  border-radius: 5px;
  /* scrollbar-width:  none;  */
/* scrollbar-width:  thin;  */
}

table{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.table-ct-light{
  background-color: #b6cbdd;
  color:  #24609c;
}

.table-ct-dark{
  background-color: #1e1e1e;
  color: white;
}

td{
  text-align: left;
}



.btn-cityname-light{
  color: #24609c;
}
.btn-cityname-dark{
  color: white;
}

table thead th{
  padding: 4px 8px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: medium;
  font-weight: 700;
  /* position: sticky; */
}

table tbody td{
  padding: 4px 8px;
  font-size: medium;
}

.table-data-light{
  background-color: #e0eaf4;
  border: solid 8px #b6cbdd;
}

.table-data-dark{
  background-color:black;
  border: solid 8px #1e1e1e;
}


.loader-icon-light {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%; 
  color: #24609c;
}

.loader-icon-dark{
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%; 
  color: white;
}

.load-more-container{
margin-top: 10px;
}

/* table thead tr th{
color:  #24609c;
} */
.table-head-light{
  color:  #24609c;
}

.table-head-dark{
  color: white;
}

.load-more-container-light button{
padding: 10px 15px;
font-size: 16px;
background-color:  #24609c;
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.load-more-container-dark button{
  padding: 10px 15px;
  font-size: 16px;
  background-color:  #363636;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

/* .load-more-container button:hover {
  background-color: #363636;
} */

.table-container table tbody tr button{
background: transparent;
border: none;
}